* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}


/* 
--------------------------------------------------------
------------------ NAVIGATOR & LOADING -----------------
--------------------------------------------------------
*/

@keyframes spinner {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
@keyframes loading {
  0%   {color:yellow; line-height: calc(100vh - 400px - 150px)}
  25%  {color:red; line-height: calc(100vh - 400px - 50px)}
  50%  {color:yellow; line-height: calc(100vh - 400px - 150px)}
  75%  {color:red; line-height: calc(100vh - 400px - 250px)}
  100% {color:yellow; line-height: calc(100vh - 400px - 150px)}
}
@keyframes mainPageLoading {
  0%   {color:yellow; line-height: 80vh}
  25%  {color:red; line-height: calc(80vh + 100px)}
  50%  {color:yellow; line-height: 80vh}
  75%  {color:red; line-height: calc(80vh - 100px)}
  100% {color:yellow; line-height: 80vh}
}
@keyframes loadingError {
  0%   {color:rgb(80, 17, 17);}
  25%  {color:rgb(255, 0, 0);}
  50%  {color:rgb(80, 17, 17);}
  75%  {color:rgb(255, 0, 0);}
  100% {color:rgb(80, 17, 17);}
}

#loading {
  color: yellow;
  position: static;
  width: 100%;
  height: calc(100vh - 400px - 150px);
  line-height: calc(100vh - 400px - 150px);
  background-color: black;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  cursor: not-allowed;
  user-select: none;
}

nav {
  display: flex;
  color: white;
  padding: 0.5% 0.5%;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  text-align: right;
  font-size: 15px;
}
nav .fa-regular {
  display: none;
}
#version {
  color: white;
  float: left;
  text-align: left;
  font-style: normal;
  cursor: not-allowed;
  font-weight: bold;
  padding: 1% 1%;
  font-size: 20px;
}
#version .i {
  color: green;
}
.announcment {
  text-align: center;
  font-size: 25px;
  color: yellow;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.05), #f443369f, rgba(255, 255, 255, 0.05));
}

.nav-links .disabled {
  cursor: not-allowed;
}
.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}
.nav-links ul li {
  display: inline-block;
  padding: 10px 12px 4px;
  position: relative;
}
.nav-links ul li .here {
  cursor: pointer;
}
.nav-links ul li .here::after {
  content: '';
  height: 2px;
  background: rgb(255, 255, 0);
  display: block;
}
.nav-links ul li .link::after {
  content: '';
  width: 0%;
  height: 2px;
  background: rgba(255, 0, 0, 1);
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li .link:hover::after {
  width: 100%;
}

iframe[seamless] {
  border: none;
  width: 100%;
  height: 100%;
  margin-bottom: -2vh;
}

@media(max-width: 700px) {
  @keyframes loading {
    0%   {color:yellow; line-height: calc(100vh - 250px - 150px)}
    25%  {color:red; line-height: calc(100vh - 250px - 100px)}
    50%  {color:yellow; line-height: calc(100vh - 250px - 150px)}
    75%  {color:red; line-height: calc(100vh - 250px - 200px)}
    100% {color:yellow; line-height: calc(100vh - 250px - 150px)}
  }
  @keyframes mainPageLoading {
    0%   {color:yellow; line-height: 80vh}
    25%  {color:red; line-height: calc(80vh + 50px)}
    50%  {color:yellow; line-height: 80vh}
    75%  {color:red; line-height: calc(80vh - 50px)}
    100% {color:yellow; line-height: 80vh}
  }
  #loading {
    height: calc(100vh - 250px - 150px);
    line-height: calc(100vh - 250px - 150px);
    font-size: 40px;
  }

  nav {
    font-size: 13px;
  }
  #version {
    font-size: 15px;
  }
  .announcment {
    font-size: 20px;
  }

  .nav-links .disabled {
    text-decoration: line-through;
  }
  .nav-links .disabled:hover {
    color: unset;
  }
  .nav-links ul li {
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.5));
  }
  .nav-links {
    position: fixed;
    background: linear-gradient(rgba(25,25,112,1),rgba(25,25,112,1), rgba(25,25,112,0.5),rgba(25,25,112,0.2));
    height: 100vh;
    width: 140px;
    top: 0;
    right: -140px;
    text-align: right;
    transition: 0.3s;
  }
  .nav-links a:hover {
    color: red;
    transition: 0.3s;
  }
  .nav-links ul li .link:hover::after {
    width: 0%;
  }
  .nav-links ul li .here::after {
    width: 0%;
  }
  .nav-links ul li .here {
    color: yellow;
  }
  nav .fa-regular {
    color: #fff;
    display: block;
    text-align: right;
    margin: 10px;
    font-size: 22px;
    transition: 0.3s;
  }
  nav .fa-square-plus {
    margin: 7px;
  }
  nav .fa-regular:hover {
    color: #f44336;
  }
}

@media (max-height: 735px) and (min-width: 700px) {
  @keyframes loading {
    0%   {color:yellow;}
    25%  {color:red;}
    50%  {color:yellow;}
    75%  {color:red;}
    100% {color:yellow;}
  }
}
@media (max-height: 635px) and (min-width: 700px) {
  #loading {
    height: 90px;
    line-height: 90px;
  }
}


/* 
--------------------------------------------------------
---------------------- MAIN PAGE -----------------------
--------------------------------------------------------
*/

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)), url(../images/blackhole.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.text-box {
  color: white;
  top: 50%;
  left: 50%;
  text-align: center;
  justify-content: center;
  display: none;
}
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 2px auto 15px;
  font-size: 18px;
}
.text-box img {
  margin-top: 20vh;
  height: 20vh;
}

.organ-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 3px solid #fff;
  padding: 12px 34px;
  font-size: 15px;
  background: transparent;
  cursor: pointer;
  transition: 0.5s;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
}
.organ-btn:hover {
  border: 3px solid #f44336;
  transition: 0.5s;
}

@media(max-width: 700px) {
  .text-box h1 {
    font-size: 45px;
  }
  .text-box p {
    font-size: 15px;
    margin: 2px auto 15px;
  }
  .text-box img {
    height: 20vh;
    margin-top: 15vh;
  }

  .organ-btn {
    padding: 10px 20px;
    font-size: 15px;
  }
}

/* 
--------------------------------------------------------
----------------------- ABOUT PAGE ---------------------
--------------------------------------------------------
*/

.about-header {
  height: 400px;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)), url(../images/galaxy.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.about-header h3 {
  margin-top: 80px;
  font-size: 40px;
}

.about {
  min-height: calc(100vh - 400px - 150px);
  width: 100%;
  margin: auto;
  padding: 25px;
  background: rgb(26, 25, 25);
  display: none;
}
.about h2 {
  font-size: 35px;
  color: #fff;
}

.about .col {
  color: #fff;
  float:left;
  margin-bottom: 30px;
  width: calc(50% - 20px);
  min-height: 80px;
  text-align: left;
}
.about .col h2 {
  font-size: 35px;
}
.about .col p {
  font-size: 25px;
}
.about .col img {
  width: 100%;
  border-radius: 15px;
}
.about .col .av {
  width: 40px;
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  border-radius: 50%;
}
.about .mainCol {
  color: #fff;
  margin-top: 50px;
  padding-top: 50px;
  border-top: 6px solid;
  border-image-source: linear-gradient(to right, rgba(155, 146, 22, 0.8), rgba(155, 146, 22, 0.8), rgb(26, 25, 25),  rgba(155, 146, 22, 0.8), rgba(155, 146, 22, 0.8));
  border-image-slice: 1;
  width: 100%;
  text-align: center;
}
.about .mainCol h2 {
  font-size: 35px;
}
.about .mainCol p {
  font-size: 25px;
}
.about .mainCol img {
  height: 40%;
}
.about .mainCol .i {
  color: #f44336;
}
.about .row::after {
  content: "";
  display: table;
  clear: both;
}
.about .row .col:last-child {
  padding-left: 20px;
  margin-left: 20px;
  border-left: 3px solid;
  border-image-source: linear-gradient(rgb(26, 25, 25), rgba(38, 155, 22, 0.8), rgb(26, 25, 25));
  border-image-slice: 1;
}

@media(max-width: 700px) {
  .about-header {
    height: 250px;
  }
  .about-header h3 {
    margin-top: 50px;
  }
  .about {
    min-height: calc(100vh - 250px - 150px);
    padding: 10px;
  }

  .about .col {
    width: 100%;
    text-align: center;
  }
  .about .col h2 {
    font-size: 30px;
  }
  .about .col p {
    font-size: 20px;
  }
  .about .col .av {
    width: 50px;
    float: unset;
    margin-top: 0px;
    margin-right: 0px;
  }
  .about .mainCol {
    border-top: 4px solid;
    margin-top: 30px;
    padding-top: 30px;
    margin-bottom: 10px;
  }
  .about .mainCol h2 {
    font-size: 25px;
  }
  .about .mainCol p {
    font-size: 15px;
  }
  .about .mainCol img {
    width: 100%
  }
  .about .row .col:last-child {
    padding-left: 0px;
    margin-left: 0px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-left: none;
    border-bottom: 3px solid;
    border-image-source: linear-gradient(to right, rgb(26, 25, 25), rgba(38, 155, 22, 0.8), rgb(26, 25, 25));
    border-image-slice: 1;
  }
  .about .row #lastCol {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: none;
  }
}

/* 
--------------------------------------------------------
---------------------- REPOS PAGE ----------------------
--------------------------------------------------------
*/

.repos-header {
  height: 400px;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)), url(../images/cosmos.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.repos-header h3 {
  margin-top: 80px;
  font-size: 40px;
}

.repos {
  min-height: calc(100vh - 400px - 150px);
  width: 100%;
  background: rgb(26, 25, 25);
  margin: auto;
  padding: 20px;
  display: none;
}
.repos .grid::after {
  content: "";
  display: table;
  clear: both;
}
.repos a {
  text-decoration: none;
}
.repos .box {
  width: calc(33.3333% - 16px);
  margin: 0% 8px 15px 8px;
  padding: 20px;
  float: left;
  border: lightblue 5px solid;
  border-radius: 30px;
}
.repos .box .p {
  font-size: 20px;
  color: green;
  position: relative;
  top:-3px;
}
.repos .box h1 {
  font-size: 25px;
  color: yellow;
}

@media(max-width: 1132px) {
  .repos .box {
    width: calc(50% - 16px);
    padding: 10px;
    border-radius: 15px;
  }
}
@media(max-width: 896px) {
  .repos .box .p {
    display: block;
    top: 0px;
  }
}
@media(max-width: 700px) {
  .repos-header {
    height: 250px;
  }
  .repos-header h3 {
    margin-top: 50px;
  }
  .repos {
    min-height: calc(100vh - 250px - 150px);
    padding: 5px;
  }
  .repos .box {
    width: calc(50% - 8px);
    margin: 0% 4px 10px 4px;
  }
  .repos .box .p {
    font-size: 15px;
  }
  .repos .box h1 {
    font-size: 20px;
  }
}

/* 
--------------------------------------------------------
---------------------- DOCS PAGE -----------------------
--------------------------------------------------------
*/

.docs-header {
  height: 400px;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.8),rgba(4,9,30,0.8)), url(../images/space-exploration.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
.docs-header h3 {
  margin-top: 80px;
  font-size: 40px;
}
.docs-header h4 {
  margin-top: -3px;
  font-size: 16px;
}
.docs-header .i {
  color: rgb(28, 151, 12);
}

.docs {
  min-height: calc(100vh - 400px - 150px);
  width: 100%;
  background: rgb(26, 25, 25);
  margin: auto;
  padding: 20px;
  display: none;
}

.docs .col {
  float:left;
  width: calc((100% - 20%) / 2);
  padding: 10px;
}
.docs #menu {
  width: 20%;
  padding-right: 0px;
}
.docs #menu ul {
  font-size: 30px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  color: red;
  margin-bottom: 30px;
  transition: 0.2s;
}
.docs #menu ul:hover {
  color: rgb(218, 215, 17);
}
.docs #menu ul li {
  font-size: 20px;
  display: block;
  text-decoration: none;
  font-weight: normal;
  cursor: pointer;
  color: white;
  text-align: left;
  border: 2px solid;
  border-left: 4px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, rgb(26, 25, 25), rgba(83, 18, 14, 0.8));
  padding-left: 5px;
  transition: 0.2s;
}
.docs #menu ul li:first-child {
  border-top: 4px solid;
}
.docs #menu ul li:last-child {
  border-bottom: 4px solid;
}
.docs #menu ul li:hover {
  color: rgb(28, 151, 12);
}
.docs #menu .selected {
  color: yellow;
}
.docs #description h1 {
  font-size: 40px;
  color: rgb(255, 255, 255);
  text-align: right;
}
.docs #description h2 {
  margin-top: -5px;
  font-size: 30px;
  font-weight: normal;
  color: rgb(255, 255, 255);
  text-align: right;
}
.docs #description h3 {
  margin-top: 20px;
  font-size: 22px;
  font-weight: normal;
  color: rgb(255, 255, 255);
  text-align: right;
}
.docs #description .i {
  color: rgb(28, 151, 12);
}
.docs #description .info i {
  color: rgb(255, 0, 0);
}
.docs .noData {
  width: 80%;
  line-height: 50vh;
}
.docs #image {
  text-align: center;
  min-height: 500px;
  display: flex;
  align-items: center;
}
.docs #image h1 {
  margin: 0 auto;
  font-size: 22px;
  font-weight: normal;
  color: rgb(255, 255, 255);
}
.docs #image img {
  max-height: 150vh;
  width: 100%;
  border-radius: 5px;
}
.docs #image .info i {
  color: rgb(255, 0, 0);
}
.docs .row::after {
  content: "";
  display: table;
  clear: both;
}

@media(max-width: 700px) {
  .docs-header {
    height: 250px;
  }
  .docs-header h3 {
    margin-top: 50px;
  }

  .docs {
    min-height: calc(100vh - 250px - 150px);
    padding: 10px;
    padding-bottom: 20px;
  }
  .docs .col {  
    width: 100%;
  }
  .docs #menu {
    width: 100%;
    text-align: center;
  }
  .docs #menu ul {
    font-size: 25px;
  }
  .docs #menu ul:last-child {
    border-bottom: 3px solid;
    border-image-source: linear-gradient(to right, rgba(155, 146, 22, 0.8), rgba(155, 146, 22, 0.8), rgb(26, 25, 25), rgba(155, 146, 22, 0.8), rgba(155, 146, 22, 0.8));
    border-image-slice: 1;
    padding-bottom: 30px;
    margin-bottom: 0px;
  }
  .docs #menu ul li {
    font-size: 20px;
    text-align: center;
    border-image-source: linear-gradient(to right, rgb(26, 25, 25), rgba(83, 18, 14, 0.8),  rgb(26, 25, 25), rgba(83, 18, 14, 0.8), rgb(26, 25, 25));
    border-left: unset;
    padding-left: 0px;
  }
  .docs #menu ul li:first-child {
    border-top: 4px solid;
  }
  .docs #menu ul li:last-child {
    border-bottom: 4px solid;
  }
  .docs #description h1 {
    margin-top: 20px;
    font-size: 30px;
    line-height: 31px;
    text-align: center;
  }
  .docs #description h2 {
    margin-top: 5px;
    font-size: 20px;
    text-align: center;
  }
  .docs #description h3 {
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
  }
  .docs .noData {
    width: 100%;
    line-height: auto;
  }
  .docs #image {
    min-height: unset;
  }
  .docs #image h1 {
    margin-top: 10px;
  }
  .docs #image img {
    max-height: 200vh;
  }
}